/*@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron-medium.oft');
}*/

body {
  padding-top: 51px;
  font-family: 'Open Sans',Arial,sans-serif;
  background-color: #F9F9F9;
  color: #555;
}

header section {
  padding-left: 50px;
  padding-right: 50px;
}

nav.navbar-default {
  background: white;
}


/* images */
img#android-device-list {
  width: 500px;
}

img#android-device-status {
  width: 300px;
}

img#electron {
  height: 300px;
}

img#electron-kit {
  width: 400px;
}

img#dashboard {
  width: 600px;
}

img#bpt-motorcycle {
  width:325px;
  border-left: 2px solid #555;
}


.content hr {
  margin-top: 0px;
}

.content > div.row {
  margin-left: 60px;
  margin-top: 20px;
}

.card.intro > div.card-detail > div {
  padding-top: 20px;
}

.card-detail {
  vertical-align: middle;
  min-width: 300px;
}

.card-detail > .list-group > .list-group-item {
  margin-bottom: 0px;
  background-color: inherit;
  border: none;
  padding-left: 0px;
}

footer {
  background: #555;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

footer section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

footer span {
  font-size: .9em;
  color: #777;
  /*font-weight: 500;*/
  line-height: 30px;
}

footer a, footer a:visited {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

.motorcycle-icon {
  width: 45px;
}

.vertical-line {
  margin:10px 20px;
  border-left: 2px solid #555;
  height:50px;
}

.logo {
	position: absolute;
	width: 54px;
	height: 54px;
  /*https://rawgit.com/BP-Tracker/BP-Tracker.github.io/master/assets/images/logo-small.svg */
	background: no-repeat center url(https://rawgit.com/BP-Tracker/BP-Tracker.github.io/master/assets/images/logo-small.svg);
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
}

/* Extra small devices 768px */
@media screen and (max-width: 600px) {
  .content > div.row {
    margin-left: 0px;
    margin-top: 20px;
  }

  img#android-device-list {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }

  img#dashboard {
    width: 300px;
  }

  img#electron {
    height: 150px;
  }
  img#electron-kit {
    width: 200px;
  }

  img#bpt-motorcycle {
    width:225px;
    border-left: 2px solid #555;
  }
}








/*padding-top: 10px;
padding-bottom: 10px;*/
/*padding-left: 50px;
padding-right: 50px;*/
  /*border: 1px solid;*/


/* device screenshot intro */
/*#content-index div.intro > div.card-image {
  width: 500px;
}*/
